<table class="table table-bordered table-condensed">
  <tr>
    <td>Name:</td>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <td>CPF:</td>
    <td><%= @customer.cpf %></td>
  </tr>
  <tr>
    <td>Occupation:</td>
    <td><%= @customer.occupation %></td>
  </tr>
</table>